<!-- products/templates/products/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Oasis{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Menú (compartido en todas las páginas) -->
    {% include "productos/menu.html" %}

    <!-- Contenido específico -->
    {% block content %}{% endblock %}

    <!-- Footer (opcional) -->
    {% include "products/footer.html" %}
</body>
</html>