{% load static %}
{% include "productos/menu.html" %}


<h2>Todas las Categorías</h2>
<div class="row">
    {% for categoria in categorias %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% comment %} Si quieres poner una imagen representativa, añade: <img src="{{ categoria.imagen.url }}"> {% endcomment %}
            <div class="card-body">
                <h5 class="card-title">{{ categoria.nombre }}</h5>
                <p class="card-text">{{ categoria.descripcion }}</p>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <a href="{% url 'categoria' categoria.id %}" class="btn btn-primary btn-sm">
                    Ver productos
                </a>
            </div>
        </div>
        {% endfor %}
   
</div>




{% include "productos/footer.html" %}




