{% load static %}
{% include "productos/menu.html" %}



 
<div class="container mt-4">
    <h2>Productos en Oferta</h2>
    <div class="row">
        {% for producto in productos_oferta %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p><strong>Categoría: </strong>{{ producto.categoria.nombre }}</p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% include "productos/footer.html" %}




