{% load static %}
{% include "productos/menu.html" %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<h2 style="padding: 20px;text-align: center;">Todas las Categorias</h2>
<div class="container">
    <div class="row">
        {% for categoria in categorias %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">  
                {% if categoria.imagen %}
                    <img src="{{ categoria.imagen.url }}" class="card-img-top" alt="{{ categoria.nombre }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ categoria.nombre }}</h5>
                </div>
                <div class="card-footer bg-transparent border-top-0">
                    <a   style="text-align: center;"  href="{% url 'lista' %}" class="btn btn-primary btn-sm" >
                        Ver productos
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% include "productos/footer.html" %}




