
{% load static %}
{% include "productos/menu.html" %}


{% if producto.imagen %}
    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 200px;">
{% else %}
    <img src="{% static 'imagenes/imagen_default.png' %}" alt="Imagen no disponible" style="max-width: 200px;">
{% endif %}

<form method="post" action="{% url 'carrito' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success" style="padi">Añadir al carrito 🛒</button>
</form>
{% include "productos/footer.html" %}
 


