
{% load static %}
{% include "productos/menu.html" %}


<div class="detalle-producto">
    <div class="contenido-producto">
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        
        <div class="info-producto">
            <h1>{{ producto.nombre }}</h1>
            <p>{{ producto.descripcion }}</p>
            <p><strong>Precio:</strong> ${{ producto.precio }}</p>
            
            <form method="post" action="{% url 'añadir_al_carrito' producto.id %}">
                {% csrf_token %}
                <a href="{% url 'añadir_al_carrito' producto.id %}" class="btn btn-primary">Añadir al Carrito</a>
            </form>
        </div>
    </div>
</div>

{% include "productos/footer.html" %}
 <style>
    .detalle-producto {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contenido-producto {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.contenido-producto img {
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.info-producto {
    flex: 1;
}

.boton-carrito {
    display: inline-block;
    background-color: #e60023;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.boton-carrito:hover {
    background-color: #c4001d;
}

 </style>


<script>
    function actualizarPrecio() {
      const plan = document.getElementById('subscription-plan').value;
      const precio1mes = {{ producto.precio_1mes|safe }};
      const precio3meses = {{ producto.precio_3meses|safe }};
      
      document.getElementById('price').textContent = 
        plan === '1' ? precio1mes.toFixed(2) : precio3meses.toFixed(2);
    }
