{% load static %}
{% include "productos/menu.html" %}

<h1 style="text-align: center;padding: 20px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Bienvenido a OASIS</h1>
<p style="color: rgb(210, 30, 192); padding: 20px; text-align: center; font-size: x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Licencias digitales al mejor precio.</p>

<div class="container mt-4">
       
    <!-- Barra de búsqueda -->
    <div class="row mb-4">
        <div class="col-md-6 mx-auto">
            <input type="text" class="form-control" placeholder="Buscar productos...">
        </div>
    </div>
    <!-- Secciones producto en oferta -->

    

{% include "productos/footer.html" %}