



 % include "productos/menu.html" %}

{% block content %}
    <h1>Bienvenido a Oasis</h1>
    <p>Licencias digitales al mejor precio.</p>
{% endblock %}

<a href="{% url 'categoria' %}" class="btn">Ver Categorías</a>
<a href="{% url 'catalogo' %}" class="btn">Ver Productos</a>

<h2>Todos los Productos</h2>
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4">
                <div class="card">
                    <a href="{% url 'detalle_producto' producto.id %}" style="text-decoration: none; text-align: center;">  
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}" style="height: 300px; padding: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                    </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% include "productos/footer.html" %}