    <!-- Footer -->
    <footer class="bg-success text-white mt-5">
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre Oasis</h3>
                    <p>Somos la plataforma líder en distribución de licencias digitales, ofreciendo los mejores precios y servicio al cliente.</p>
                    
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>


                <div class="footer-column ">
                    <h3>Enlaces Rápidos</h3>
                    <ul>
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="categoria">Categorías</a></li>
                        <li><a href="#producto">Productos</a></li>
                        <li><a href="#ofertas">Ofertas</a></li>
                        <li><a href="#carrito">Carrito</a></li>
                    </ul>
                </div>

            

                <div class="footer-column">
                    <h3>Informacion</h3>
                    <ul>
                        
                        <li><i></i>Términos y Condiciones </li>
                        <li><i></i>Política de Privacidad </li>
                        <li><i></i>Preguntas Frecuentes </li>
                        <li><i></i> Métodos de Pago</li>
                        <li><i></i>Garantía</li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Contacto</h3>
                    <ul>
                        
                        <li><i class="fas fa-phone"></i> 3238977086</li>
                        <li><i class="fas fa-map-marker-alt"></i> oasis</li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom text-dark">
                <p>&copy; 2023 Oasis - Licencias Digitales. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>



    